@model IEnumerable<WebASP_App.Models.CoinInfo>

@{
    ViewBag.Title = "Все пользователи";
}

<head>

</head>
<body>
    <table class="table" id="sorted_table">
        <thead>
            <tr>
                
                <th>Название</th>
                <th>Символ</th>
                <th>Логотип</th>
                <th>Цена USD</th>
                <th>Изменение цены за последний час</th>
                <th>Изменение цены за последние 24 часа</th>
                <th>Капитализация USD</th>
                <th>Обновление данных</th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                
                <td>@item.name</td>
                <td>@item.symbol</td>
                <td><img width="80" height="80" src=@item.logo alt=@item.logo></td>
                <td>@item.quote.USD.price</td>
                <td>@item.quote.USD.percent_change_1h%</td>
                <td>@item.quote.USD.percent_change_24h%</td>
                <td>@item.quote.USD.market_cap</td>
                <td>@item.last_updated.ToLocalTime()</td>
            </tr>
        }

    </table>

    <script src='/lib/tablesort-gh-pages/dist/tablesort.min.js'></script>

    <!-- Include sort types you need -->
    <script src='/lib/tablesort-gh-pages/src/sorts/tablesort.date.js'></script>
    <script src='/lib/tablesort-gh-pages/src/sorts/tablesort.dotsep.js'></script>
    <script src='/lib/tablesort-gh-pages/src/sorts/tablesort.number.js'></script>

    <script>
        new Tablesort(document.getElementById('sorted_table'));
    </script>
</body>
