@model IEnumerable<WebASP_App.Models.CoinInfo>
@{
    ViewBag.Title = "Все пользователи";
}


<table class="table">
    <tr>
        <td>Название</td>
        <td>Символ</td>
        <td>Логотип</td>
        <td>Цена</td>
        <td>Изменение цены за последний час</td>
        <td>Изменение цены за последние 24 часа</td>
        <td>Капитализация USD</td>
        <td>Обновление данных</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.name</td>
            <td>@item.symbol</td>
            <td><img  width="80" height="80" src=@item.logo alt=@item.logo ></td>
            <td>@item.quote.USD.price</td>
            <td>@item.quote.USD.percent_change_1h%</td>
            <td>@item.quote.USD.percent_change_24h%</td>
            <td>@item.quote.USD.market_cap</td>
            <td>@item.last_updated</td></tr>
    }
</table>

